@use "global" as *;

.breadcrumb {
    display: flex;
    padding: rem(10) rem(20);

    @include mq(md) {
        max-width: rem(1280);
        width: 100%;
        margin: 0 auto;

    }
}

.breadcrumb>li {
    @include mq(md) {
        // 
    }
}

.breadcrumb>li:not(:last-child) {
    margin-right: rem(10);

    @include mq(md) {
        // 
    }
}

.breadcrumb>li:not(:last-child)::after {
    content: ">";
    display: inline-block;
    padding-left: rem(10);

    @include mq(md) {
        // 
    }
}