@use "global" as *;

.card-contents {
    display: flex;
    justify-content: center;

    @include mq(md) {
        // 
    }
}

.card-contents>li {
    display: flex;
    flex-direction: column;
    gap: rem(20) 0;

    @include mq(md) {
        flex-direction: row;
        gap: 0 rem(20);
    }
}

.card {
    display: flex;
    flex-direction: column;
    max-width: rem(375);
    width: 100%;
    height: rem(430);
    background: rgba(255, 255, 255, 1);
    position: relative;

    @include mq(md) {
        // 
    }
}

.card>h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card>p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.dateCategory {
    display: flex;
    justify-content: space-between;
    margin: rem(20);
    margin-top: auto;
}

.card>h3,
.card>p,
{
margin: 0 rem(20);
margin-bottom: rem(20);
}



// 三角表示
.card>span {
    width: 0;
    border-top: rem(30) solid rgba(255, 105, 180, 1);
    border-right: rem(30) solid transparent;
    border-bottom: rem(30) solid transparent;
    border-left: rem(30) solid rgba(255, 105, 180, 1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    @include mq(md) {
        // 
    }
}

// new表示
.card>span::before {
    content: "New";
    display: block;
    font-size: rem(16);
    line-height: 0;
    letter-spacing: calc(1em/16);
    position: relative;
    top: 0;
    left: rem(-25);
    transform: rotate(-45deg);

    @include mq(md) {
        // 
    }
}

// 画像設定
.card>figure {
    overflow: hidden;
    position: relative;
    margin-bottom: rem(20);
}

.card>figure::before {
    content: "";
    display: block;
    max-width: rem(375);
    width: 100%;
    padding-top: calc(375/500*100%);

    @include mq(md) {
        // 
    }
}

.card>figure>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);

    @include mq(md) {
        // 
    }
}