@use "global" as *;

.inquily {
    text-align: center;
    max-width: rem(1280);
    width: 100%;
    padding: rem(20);
    margin: 0 auto;
    margin-bottom: rem(30);

    @include mq(md) {
        // 
    }
}

// radio button設定
.inquily>.radio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include mq(md) {
        grid-template-columns: repeat(2, 15%);
    }
}

.inquily>.radio>li>input {
    width: fit-content;

    @include mq(md) {
        // 
    }
}

.inquily>.radio>li {
    @include mq(md) {
        display: grid;
        align-items: center;
        // 
    }
}

// privacy設定
.inquily>ul>li:not(.comment>li) {
    @include mq(md) {
        display: grid;
        grid-template-columns: 20% auto;
        grid-template-rows: rem(60);
        text-align: left;
        // 
    }
}

.inquily>ul>li:not(:last-child) {
    margin-bottom: rem(30);

    @include mq(md) {
        // 
    }
}

.inquily>ul>li>label,
.inquily>ul>li>textarea,
.inquily>ul>li>input {
    width: 100%;
    margin: 0;

    @include mq(md) {
        // 
    }
}

.inquily>ul>li>textarea {
    background: rgba(255, 255, 255, 1);
    border: solid rem(1) rgba(0, 0, 0, 0.5);
}

.inquily>.comment>li>h4 {
    text-align: left;

    @include mq(md) {
        // 
    }
}

.inquily>.privacy>li>label {
    display: block;
    margin-bottom: rem(50);

    @include mq(md) {
        margin: 0;
    }
}

.inquily>ul>li>input,
.inquily>ul>li>textarea {
    border: solid rem(10) rgba(255, 255, 255, 1);
    background: rgba(245, 245, 245, 1);

    @include mq(md) {
        // 
    }
}

.inquily>ul>li>.submit {
    border: solid rem(1) rgba(0, 0, 0, 0.5);
    padding: rem(10) rem(20);

    @include mq(md) {
        // 
    }
}

.inquily>ul>li>h4 {
    margin-bottom: rem(50);

    @include mq(md) {
        // 
    }
}

.inquily>.privacy>li>label {
    @include mq(md) {
        display: grid;
        align-items: center;
        // 
    }
}