@use "global" as *;

.wp-pagenavi {
    text-align: center;
    margin-bottom: rem(30);

    @include mq(md) {
        // 
    }
}

.wp-pagenavi>a {
    border: solid rem(1) rgba(0, 0, 0, 0.5);
    padding: rem(3) rem(5);

    @include mq(md) {
        // 
    }
}

.wp-pagenavi>a:first-child,
.wp-pagenavi>a:last-child {
    border: solid rem(1) transparent;

    @include mq(md) {
        // 
    }
}

.wp-pagenavi>a:not(:last-child) {
    margin-right: rem(20);

    @include mq(md) {
        // 
    }
}

.wp-pagenavi>.previouspostslink,
.wp-pagenavi>.nextpostslink {
    border: solid rem(1) transparent;

    @include mq(md) {
        // 
    }
}

.wp-pagenavi>span {
    display: inline-block;
    padding: rem(3) rem(5);
    margin-right: rem(20);
    background: rgba(255, 255, 255, 1);
    border: solid rem(1) rgba(255, 255, 255, 1);

    @include mq(md) {
        // 
    }
}